body{
    background-color: #69f7f7;
} 
h1{
    color:red;
    margin: 50px;
}  
h2{
    color:purple
}  
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
#box1{
    background-color: #7cf47c;
    width:50%;
    margin-left: 50px;
    padding: 10px;
    align-items: center;
    border: 2px dashed #007f5f;     /*Additional Activity*/
}  
#box2{
    background-color: #f29cca;
    width:50%;
    margin-left: 50px;
    padding:10px;
    align-items: center;
    border: 2px dotted #9d4edd;     /*Additional Activity*/
}  
/*Additional Activity - use class selectors in CSS*/
.highlight {
    background-color: #ffd700; /* Gold */
    font-style: italic;
    border: 1px solid black;
    padding: 10px;
    width: 60%;
    margin-left: 50px;
    text-align: center;
  }
  