html{
    height: ;
    width: ;
  }
    body{
    background-image: ;
    text-align: ; 
    background-size: ; 
    font-family: ; 
    background-repeat: ; 
  }
  h1{
    margin-top: ;
    color: ; 
    font-size: ;
  }
  form{
    font-size: ;
  }
  label{
    color: ;
  }
  select{
    font-size: ;
    padding: ;
    background-color: ;
  }
  button{
    padding: ;
    margin: ;
    font-size: ;
    border-radius: ;
    background-color: ;
  }